.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.left-nav {
    display: flex;
}

.nav-wrapper> .left-nav> div {
    margin-right: 20px;
    font-size: 1.2em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height:22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom o.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a{
    color: black;
}
body {
    background-image: url("wallhaven-5we1w9_1920x1080.png");
    background-color: #cccccc;
    font-family: 'Lato', sans-serif;
   }

.content {
    margin-left: 40%;
    width: 40%;
    align-content: center;
    text-align: center;
    color: black;
    background: transparent;
}
.button {
    margin-top: 10px;
    width: fit-content;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.padding-large {
    padding: 12px 24px !important
}
.black,
.hover-black:hover {
    color: #fff !important;
    background-color: blue !important
}

